<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= opengraph.title %></title>
        <!-- <link rel="manifest" href="/manifest.json"> --><!-- TODO -->
        <%- include('opengraph.ejs', opengraph) %>
        <%- include("style.ejs") %>
    </head>
    <body>
        <%- include('header.ejs') %>
        <div class="container py-4 d-flex justify-content-center align-items-center">
            <%- include(view) %>
        </div>
        <%- include('footer.ejs') %>
        <%- include('modal.ejs') %>
        <%- include('script.ejs') %>
    </body>
</html>
